%h2 Projects
%ul.projects-types
  %li{ class: project_type_class(["active", "index"]) }
    = link_to active_dashboard_index_path do
      Active
  %li{ class: project_type_class("potential") }
    = link_to potential_dashboard_index_path do
      Potential
  %li{ class: project_type_class("archived") }
    = link_to archived_dashboard_index_path do
      Archived
= react_component('projects', { projects: projects, users: users, memberships: memberships })
