.DS_Store
config/database.yml
config/config.yml
config/sec_config.yml
/.bundle
/.sass-cache/
/log/*.log*
/tmp
*~
*.swp
public/assets
public/uploads
RELEASE
coverage
tags

.ruby-gemset

/.idea

/app/assets/javascripts/react_bundle.js
/app/assets/stylesheets/react_bundle.css
node_modules

# Gemsurance report files
gemsurance_report.html
