= membership.date_range
- if membership.started?
  %span.badge.badge-success= membership.duration_in_words
- elsif membership.booked?
  %span.badge.badge-info booked
- else
  %span.badge= membership.duration_in_words
= membership.role.label
%strong='archived' if membership.project.archived?
%strong='potential' if membership.project.potential?
