- if Flip.fetching_abilities? && current_user.admin?
  #fetch-button
    = link_to 'Fetch users skills from Profile', { controller: 'users', action: 'fetch_abilities' }, class: 'btn btn-success js-fetch-abilities'
= react_component('users', { projects: users_index_page.serialized_projects, users: users_index_page.serialized_users, memberships: users_index_page.serialized_memberships, roles: users_index_page.serialized_roles })
