- if Flip.fetching_abilities? && current_user.admin?
  #fetch-button
    = link_to 'Fetch users skills from Profile', { controller: 'users', action: 'fetch_abilities' }, class: 'btn btn-success js-fetch-abilities'
= react_component('users', { projects: ActiveModel::ArraySerializer.new(projects, each_serializer: UserProjectSerializer).as_json, users: ActiveModel::ArraySerializer.new(users, each_serializer: UserSerializer).as_json, memberships: memberships.as_json, roles: roles.as_json })
