%p{ style: 'display: inline-block; padding-top: 6px; border-top: 1px solid; font-size: 0.9em; margin-top: 10px !important;' }
  Action performed by
  = link_to current_user.decorate.name, user_url(current_user.object)
