.statistic-row {
  &:hover {
    background-color: $gray-lighter;
    cursor: pointer;
  }
}

.details-list {
  list-style: none;
  margin-bottom: 0;
  padding: 5px 0 0;

  li {
    display: inline;
    line-height: 12px;

    a {
      background-color: #ffffff;
      border: 1px solid $gray-light;
      border-radius: 15px;
      display: inline-block;
      margin: 0 4px 5px 0;
      padding: 5px 14px;


      &:hover,
      &:focus {
        background-color: $gray-lighter;
        text-decoration: none;
      }
    }
  }
}

.nested-back-button {
  float: left;
  width: 2%;
  padding-top: 5px;

  i {
    color: $link-color;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.nested-list {
  float: left;
  width: 98%;

  h6 {
    margin-top: 5px;
  }
}
