body.scheduling {
  &.index {

    .availability-time,
    .users,
    .abilities,
    .roles {
      display: inline-block;
      margin-right: 15px;
    }

    #main-container{
      width: 100%;
    }

    .employment-container {
      display: table-cell;

      .input-group-addon,
      .employment {
        margin: 0;
        float: left;
      }

      .input-group-addon p {
        padding: 3px 0 3px 0;
        margin: 0 0 0 -6px;
      }
    }
  }
}

.scheduled-users.table {
  th {
    padding: 15px;
    vertical-align: top;
    border-bottom: 0 none;
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: lighten($gray-lighter, 3%);
    }

    .rotation-needed, .rotation-needed-danger, .rotation-needed-warning {
      .project-dates {
        color: $gray-darker;
      }

      .project-label {
        font-weight: 600;
      }
    }

    tr.rotation-needed {
      background: lighten($brand-info, 35%);
    }

    tr.rotation-needed-warning {
      background: lighten($brand-warning, 25%);
    }

    tr.rotation-needed-danger {
      background: lighten($brand-danger, 10%);

      .project-label {
        color: lighten($brand-warning, 25%);
      }
    }
  }

  td {
    padding: 15px;
    border: 1px solid $table-border-color;
    border-left: 0 none;
    border-right: 0 none;

    &:first-child {
      border-left: 1px solid $table-border-color;
    }

    &:last-child {
      border-right: 1px solid $table-border-color;
    }
  }

  a {
    color: $gray-dark;
  }

  input {
    &.employment {
      width: 80px;
    }
  }

  .avatar {
    @include size(40px, 40px);
    display: inline-block;
    overflow: hidden;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 40px;
  }

  .profile {
    display: inline-block;
    vertical-align: middle;

    .name {
      font-size: 14px;
      font-weight: bold;
    }

    .icons {
      display: none;
    }
  }

  .column-name {
    float: left;
    margin: 0 10px 0 0;
  }

  .sort {
    float: left;

    .down {
      margin-left: -1px;
    }

    .up,
    .down {
      display: block;

      &:hover {
        color: $gray;
        cursor: pointer;
      }

      &.active {
        color: $blue;
        cursor: default;
      }
    }
  }
  .role {
    line-height: 40px;
  }

  .project-labels {
    font-size: 10px;
  }

  .project-label {
    @include padding(0 8px);
    display: inline-block;
    line-height: 10px;
    color: lighten($brand-primary, 10%);
    text-transform: uppercase;
    border-right: 1px solid;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      border-right: 0;
    }
  }

  .project-dates {
    display: block;
    color: lighten($gray-darker, 40%);
    font-size: 10px;
    text-transform: uppercase;

    .time {
      color: $gray-dark;
      font-size: 12px;
    }
  }

  .project-name {
    font-weight: 700;
    border: none;
  }
}
